h3 {
    text-align: center;
    color: purple;
}

.div1 {
    float: left;
    margin-left: 5%;
    margin-top: 3%;
}

.div2 {
    float: right;
    margin-right: 5%;
    margin-top: 3%;
}

/* .example-header-image {
    background-image: url("assets/aakash.jpg");
    background-size: cover;
} */

.mat-elevation-z4:hover {
    transform: translateY(-5px) scale(1.005) translateZ(0);
    box-shadow: 5px 5px 10px 10px rgba(0, 0, 0, 0.11),
        24px 24px 46px var(--box-shadow-color);
    transform: rotateY("angle");
    color: rgb(1, 16, 1);
    border: 1px solid purple;
}

.mat-elevation-z4 {
    box-shadow: 10px 4px 8px 0 rgba(13, 1, 1, 0.2);
    transition: 0.3s;
    background-color: white;
    margin: 5px;
    width: 31.5vw;

}

.classtwo {
    width: 30vw !important;
}


.end {
    /* Green */
    border: none;
    color: white;
    padding: 4px 15px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: smaller;
    margin: 4px 2px;
    transition-duration: 0.4s;
    cursor: pointer;
    height: fit-content;
    width: fit-content
}

.end {
    background-color: white;
    color: black;
    border: 1px solid purple;
    border-radius: 25px;
    height: fit-content;
    width: fit-content
}

/* .end1 {
    float: left;
} */

.end:hover {
    background-color: purple;
    color: white;
    border: none;
}

mat-card-subtitle {
    color: black;
    font-weight: 400;
    font-size: smaller;
}

mat-card-title {
    color: purple;
    font-weight: 500;
    font-size: medium;
}

.searchDiv {
    display: flex;
    width: 100%;
    margin: 10px;
    justify-content: space-between;
}

.inputBtn {
    padding: 8px;
    margin: 15px;
    border-radius: 8px;
    float: right;
    border: 1px solid grey;
    outline: none;
    font-size: samller;
}

mat-paginator {
    bottom: 0;
    right: 0;
    z-index: 1;
    position: fixed;
    border-top: 1px solid purple;
    border-left: 1px solid purple;
    border-right: 1px solid purple;
    border-radius: 10px 10px 0 0;
}