@import url("https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&display=swap");

.font-bold {
    font-weight: 700;
}

.text-title {
    color: #2e4a66;
}

.text-primary-p {
    color: #2D033B;
    font-size: x-large;
    font-weight: 500;
}

.main__cards {
    margin-top: 5vh;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}



.card {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: auto;
    width: 18%;
    padding: 25px;
    border-radius: 15px;
    background: #E5B8F4;
}


.card_inner {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100;
}

.main__title {
    display: flex;
    flex-direction: column;
    align-items: center;
}

@keyframes countUp {
    from {
        opacity: 0;
        transform: translateY(50%);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.counter .count {
    display: inline-block;
    font-weight: bold;
    animation: countUp 1s ease-out;
}