<div class="container">
    <img src="https://img.freepik.com/free-vector/people-walking-sitting-hospital-building-city-clinic-glass-exterior-flat-vector-illustration-medical-help-emergency-architecture-healthcare-concept_74855-10130.jpg?size=626&ext=jpg&ga=GA1.1.1577870330.1659687035&semt=ais"
        alt="Snow" style="width: 100vw;height:100vh; filter: brightness(1)" />
    <div class="centered">
        <div style="display:flex;justify-content: space-between;">
            <div>
                <h1 style="font-size:4vh; color: purple">Welcome Nurse</h1>
            </div>
            <div style="margin: auto 0;">
                <button mat-button style="background-color: purple;color: antiquewhite;"
                    routerLink="/nurse/appointments"><span>Accepted
                        Appointments</span></button>
            </div>
        </div>
          
    </div>
</div>