<head>
  <style>
   
        .container {
  display: grid;
  grid-template-columns: auto 1fr;
  align-content: space-around;
  gap:6px;
  background-color: #3fbbc0;
}

img {
  grid-row: 1/2;
  height: 55vw;
  width: 55vw;
}

    </style>
  </head>

<div class="container">
  <img mat-card-lg-image style="padding-top: 0%;margin-right: 0%;"
      src="https://img.freepik.com/free-photo/senior-woman-with-walking-frame-hospital-waiting-room-rehabilitation-treatment_482257-8586.jpg?w=996&t=st=1679230841~exp=1679231441~hmac=ee90ab45febda1b846fdd0a4da591102b46d6296a2fee55f399c267fd9144907"
      alt="Your image is not Loaded" />
 
  <div>
 
      <p style="font-size: 2vw;">
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Eum corporis ex
          veritatis cupiditate consequatur quidem eveniet minima, illum ea
          accusamus quasi in ipsa consectetur delectus veniam obcaecati nisi
          voluptatem atque.
        </p>
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Aut, eum. Hic a
          facilis autem, beatae, debitis nihil rerum, cumque molestias sapiente
          soluta qui nobis iusto tempore consequatur dolore saepe reiciendis. Eos
          provident minus aliquam incidunt hic cum, veritatis odio iure odit fuga
          accusamus possimus eveniet autem aliquid sunt doloremque temporibus.
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Obcaecati nulla
          possimus, incidunt sapiente quidem facere, totam quo quam minus rem
          blanditiis. Eveniet voluptates dicta impedit sequi voluptatibus culpa
          dolor veritatis! Lorem ipsum dolor sit amet consectetur adipisicing
          elit. 
        <!-- </p>
        <p class="p3"> -->
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Ad excepturi
          libero deleniti amet, consequuntur explicabo aliquam repudiandae,
          eligendi consectetur nemo voluptatem adipisci perspiciatis. Provident
          assumenda est dolores dignissimos incidunt doloribus! Lorem ipsum dolor
          sit amet consectetur adipisicing elit. Non esse explicabo aut eveniet
          nobis error alias consequuntur amet, cupiditate nostrum mollitia dolorem
          ullam quia atque, repellat sit pariatur tenetur soluta!
        </p>
  </div>

  </div>












<!-- src="https://img.freepik.com/free-photo/senior-woman-with-walking-frame-hospital-waiting-room-rehabilitation-treatment_482257-8586.jpg?w=996&t=st=1679230841~exp=1679231441~hmac=ee90ab45febda1b846fdd0a4da591102b46d6296a2fee55f399c267fd9144907"
<div class="main" Fxlayout="grid wrap">
  <h1>About Us</h1>
  <div class="content" >
    <div class="ctext"Style="font-size:1vw;"fxFlex="100%" fxFlex.xs="100%" fxFlex.sm="33%">
      <p >
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Eum corporis ex
        veritatis cupiditate consequatur quidem eveniet minima, illum ea
        accusamus quasi in ipsa consectetur delectus veniam obcaecati nisi
        voluptatem atque.
      </p>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Aut, eum. Hic a
        facilis autem, beatae, debitis nihil rerum, cumque molestias sapiente
        soluta qui nobis iusto tempore consequatur dolore saepe reiciendis. Eos
        provident minus aliquam incidunt hic cum, veritatis odio iure odit fuga
        accusamus possimus eveniet autem aliquid sunt doloremque temporibus.
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Obcaecati nulla
        possimus, incidunt sapiente quidem facere, totam quo quam minus rem
        blanditiis. Eveniet voluptates dicta impedit sequi voluptatibus culpa
        dolor veritatis! Lorem ipsum dolor sit amet consectetur adipisicing
        elit. 
      <!-- </p>
      <p class="p3"> -->
        <!-- Lorem ipsum dolor sit amet consectetur adipisicing elit. Ad excepturi
        libero deleniti amet, consequuntur explicabo aliquam repudiandae,
        eligendi consectetur nemo voluptatem adipisci perspiciatis. Provident
        assumenda est dolores dignissimos incidunt doloribus! Lorem ipsum dolor
        sit amet consectetur adipisicing elit. Non esse explicabo aut eveniet
        nobis error alias consequuntur amet, cupiditate nostrum mollitia dolorem
        ullam quia atque, repellat sit pariatur tenetur soluta! -->
      <!-- </p>
    </div>
   
    <div class="cimg"style="align-content" style="align-content: flex-end;">
      <img mat-card-lg-image 
        src="https://img.freepik.com/free-photo/senior-woman-with-walking-frame-hospital-waiting-room-rehabilitation-treatment_482257-8586.jpg?w=996&t=st=1679230841~exp=1679231441~hmac=ee90ab45febda1b846fdd0a4da591102b46d6296a2fee55f399c267fd9144907"
        alt="Your image is not Loaded"style="float:right;width:100px;"
      />
    </div>
    </div>
    
   
  </div>
  -->

