.ctext{
    width: 40%;
    float: left;
    margin-left: 5%;
    padding-bottom: 30px;
    font-size: medium;
    
}

img{
    width: 70%;
    float: right;
    margin-right: 100px;
    padding-top: 20px;
}

.content{
    display: flex;
    /* flex-wrap: wrap; */
}

h1{
    margin-left: 250px;
    margin-top: 20px;
    padding-top: 25px;
    color: rgb(254, 254, 254);
}

.main{
    background-color: #3fbbc0;
    margin-top: -22px;
    height: 100vh;
}

@media  (max-width:767px) {
    .ctext{
        width: 25%;
        float: left;
        margin-bottom: 10px;
        
    }
    


    .content{
        display: flex;
        flex-wrap: wrap;
        color: cornflowerblue;
        block-size: auto;
    }
    .cimg{

        width: 25%;
        position:sticky;
        align-content: flex-end;
        float: right;
       margin-left: 10px;
    }

    .p3{
        width: 25%;
        float: right;
        margin-bottom: 10px;
    }
}