<section>
    <div class="container">
        <h1 class="text-center h1 fw-bold mb-5 mx-1 mx-md-4 mt-4" Style="text-align: center;">Reset Password</h1>
        <br>
        <form>
            <div class="row">
                <div class="col-6 col-sm-6 col-md-6 col-lg-6"> <mat-form-field class="example-full-width">
                        <mat-label>Old Password</mat-label> <input matInput placeholder="" value="">
                    </mat-form-field>
                </div>
                <div class="col-6 col-sm-6 col-md-6 col-lg-6">
                    <mat-form-field appearance="fill">
                        <mat-label>Enter your password</mat-label>
                        <input matInput [type]="hide ? 'password' : 'text'">
                        <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'"
                            [attr.aria-pressed]="hide">
                            <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                        </button>
                    </mat-form-field>
                </div>
                <div class="col-6 col-sm-6 col-md-6 col-lg-6">
                    <mat-form-field appearance="fill">
                        <mat-label>Confirm your password</mat-label>
                        <input matInput [type]="hide ? 'password' : 'text'">
                        <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'"
                            [attr.aria-pressed]="hide">
                            <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                        </button>
                    </mat-form-field>
                </div>
                <button mat-raised-button color="primary" (click)="closeDialog()">Submit</button>
            </div>

        </form>
    </div>
</section>