<footer class="footer">
    <div class="container">
        <div class="row">
            <div class="footer-col">
                <h4>About Us</h4>
                <ul>
                    <li><a href="#">About Hospital</a></li>
                    <li><a href="#">Services</a></li>
                    <li><a href="#">Privacy and Policy</a></li>
                    <li><a href="#">Affilate program</a></li>

                    <!-- <p>hfcjhd</p>
                    <p>hfcjhd</p>
                    <p>hfcjhd</p>
                    <p>hfcjhd</p> -->
                </ul>
            </div>
            <div class="footer-col">
                <h4>Get Help </h4>
                <ul>
                    <li><a href="#">FAQ</a></li>
                    <li><a href="#">Payment option </a></li>
                    <li><a href="#">Alerts</a></li>
                    <li><a href="#">other</a></li>
                </ul>
            </div>
            <div class="footer-col">
                <h4>Contact</h4>
                <ul>
                    <li><a href="#">Telephone</a></li>
                    <li><a href="#">Email</a></li>
                    <li><a href="#">Fax</a></li>
                    <li><a href="#">fdgvdf</a></li>
                </ul>
            </div>
            <div class="footer-col">
                <h4>Social Media</h4>
                <div class="social-links">
                    <a href="#"><i class="fab fa-facebook-f"></i></a>
                    <a href="#"><i class="fab fa-twitter"></i></a>
                    <a href="#"><i class="fab fa-instagram"></i></a>
                    <a href="#"><i class="fab fa-linkedin-in"></i></a>
                </div>
            </div>
        </div>
    </div>

</footer>