<div style=" font-family: 'Times New Roman', Times, serif !important;">
    <button mat-stroked-button class="dashboard" routerLink="/admin/dashboard">
        <mat-icon style="margin:5px;">dashboard</mat-icon>Dashboard</button>
</div>

<div><a target="_blank" class="anchor" href="https://auth0.com/">
        <button mat-stroked-button class="dashboard">
            <mat-icon style="margin:5px;">add</mat-icon>Add
            Member</button>
    </a>
</div>
<div>
    <button mat-stroked-button class="dashboard" routerLink="/admin/patient">
        <mat-icon style="margin:5px;"><span class="material-icons-outlined">
                personal_injury
            </span></mat-icon>Patient Information</button>
</div>
<div>
    <button mat-stroked-button class="dashboard" routerLink="/admin/details">
        <mat-icon style="margin:5px;">account_circle</mat-icon>Admin</button>
</div>
<div>
    <button mat-stroked-button class="dashboard" routerLink="/admin/physician">
        <mat-icon style="margin:5px;">medication</mat-icon>Physician</button>
</div>

<div>
    <button mat-stroked-button class="dashboard" routerLink="/admin/nurse">
        <mat-icon style="margin:5px;"><span class="material-icons-outlined">
                vaccines
            </span></mat-icon>Nurse</button>
</div>