<div class="mat-elevation-z8" style="margin:5vh 5vh 0 5vh;">
    <mat-card style="flex-direction:row;justify-content:space-between;align-content:center;background-color:#10b4d2e8;">

        <div class="patient_info">
            Patient Details:
        </div>
        <div style="padding: 10px;">
            <input matInput (keyup)="applyFilter($event)" placeholder="search..." #input class="search">
        </div>

    </mat-card>
    <mat-card>
        <mat-divider></mat-divider>
        <table mat-table [dataSource]="dataSourcePatient" class="tablecss">

            <!-- Position Column -->
            <ng-container matColumnDef="ID">
                <th mat-header-cell *matHeaderCellDef> No. </th>
                <td mat-cell *matCellDef="let element"> {{element.patientId}} </td>
            </ng-container>

            <ng-container matColumnDef="title">
                <th mat-header-cell *matHeaderCellDef>Title</th>
                <td mat-cell *matCellDef="let element"> {{element.title}}</td>
            </ng-container>
            <!-- Name Column -->
            <ng-container matColumnDef="name">
                <th mat-header-cell *matHeaderCellDef> Name </th>
                <td mat-cell *matCellDef="let element"> {{element.firstName+" "+element.lastName}} </td>
            </ng-container>
            <!-- Weight Column -->
            <ng-container matColumnDef="email">
                <th mat-header-cell *matHeaderCellDef> Email </th>
                <td mat-cell *matCellDef="let element"> {{element.email}} </td>
            </ng-container>
            <!-- Symbol Column -->
            <ng-container matColumnDef="gender">
                <th mat-header-cell *matHeaderCellDef> Gender </th>
                <td mat-cell *matCellDef="let element"> {{element.gender}} </td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        </table>
        <mat-paginator [pageSizeOptions]="[10, 25, 50,100]" showFirstLastButtons
            aria-label="Select page of periodic elements" class="tablecss">
        </mat-paginator>
    </mat-card>

</div>