<mat-dialog-content class="qwerty">
    <button mat-icon-button style="float: right; margin: 5px" matDialogClose>
        <mat-icon>close</mat-icon>
    </button>
    <header>
        <h3>Submit Details to Physician</h3>
        <mat-divider></mat-divider>
        <br />
    </header>
    <div>Are you sure you want to Submit</div>
</mat-dialog-content>
<mat-dialog-actions>
    <button mat-raised-button color="primary" (click)="submit()" matDialogClose>
        Submit
    </button>
    <button mat-raised-button color="warn" matDialogClose>Cancel</button>
</mat-dialog-actions>