<!-- <div class="ak" fxLayout="grid wrap">
  <div class="heading" fxFlex="100%" fxFlex.xs="100%" fxFlex.sm="100%"> -->
<div style="
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      background-color: antiquewhite;
      flex-wrap: wrap;
    ">
  <h1 style="
        padding-top: 30px;
        color: rgb(6, 88, 125);
        font-size: 3dvw;
        width: 70%;
        border-bottom: 1px solid grey;
    margin-left: auto;
    text-align: center;
    padding-bottom: 15px;
    margin-right: auto;
      ">
    Our specialist doctors are always ready for you
  </h1>

  <div class="rowone" style="
        display: flex;
        justify-content: center;
        margin-bottom: 50px;
        margin-top: 50px;
        flex-wrap: wrap;
        width: 100%;
      ">
    <mat-card class="example-card" style="margin-right: 30px; margin-bottom: 20px;">
      <mat-card-header style="font-size: 1vw; justify-content: space-between;">
        <div mat-card-avatar class="example-header-image"></div>
        <mat-card-title style="font-size: 1vw">Dr. John Snow</mat-card-title>
        <mat-card-subtitle>Neurologists</mat-card-subtitle>
      </mat-card-header>
      <img mat-card-image
        src="https://img.freepik.com/free-photo/attractive-young-male-nutriologist-lab-coat-smiling-against-white-background_662251-2960.jpg"
        alt="Photo of a Doctor " />
      <mat-card-content style="font-size: 1vw; text-align: center;">
        <h4>Name: Jonh Snow.</h4>
        <h4>Experience: 7 years.</h4>
        <h4>Qualification: MBBS, MD,Neurologists.</h4>
      </mat-card-content>
    </mat-card>

    <mat-card class="example-card" style="margin-right: 30px; margin-bottom: 20px;">
      <mat-card-header style="font-size: 1vw; justify-content: space-between;">
        <div mat-card-avatar class="example-header-image"></div>
        <mat-card-title>Dr. Rama Krishna</mat-card-title>
        <mat-card-subtitle style="font-size: 1vw">Radiologists</mat-card-subtitle>
      </mat-card-header>
      <img mat-card-image
        src="https://st3.depositphotos.com/3332767/18889/i/600/depositphotos_188896398-stock-photo-close-young-doctor-looking-camera.jpg"
        alt="Photo of a Doctor" />
      <mat-card-content style="font-size: 1vw; text-align: center;">
        <h4>Name: Rama Krishna</h4>
        <h4>Experience: 4 years.</h4>
        <h4>Qualification: MBBS, MD, Radiologists.</h4>
      </mat-card-content>
    </mat-card>

    <mat-card class="example-card" style="margin-right: 30px; margin-bottom: 20px;">
      <mat-card-header style="font-size: 1vw; justify-content: space-between;">
        <div mat-card-avatar class="example-header-image"></div>
        <mat-card-title>Dr. Bruce Banner</mat-card-title>
        <mat-card-subtitle>Cardiologists</mat-card-subtitle>
      </mat-card-header>
      <img mat-card-image
        src="https://st3.depositphotos.com/3332767/18889/i/600/depositphotos_188896398-stock-photo-close-young-doctor-looking-camera.jpg"
        alt="Photo of a Doctor" />
      <mat-card-content style="font-size: 1vw; text-align: center;">
        <h4>Name: Bruce Banner.</h4>
        <h4>Experience: 10 years.</h4>
        <h4>Qualification: MBBS, MD, Cardiologists.</h4>
      </mat-card-content>
    </mat-card>
  </div>
  <mat-divider></mat-divider>
</div>